<!-- This is the top of every html page, not the menu header -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title> {{page.name}}: CNA </title>
<meta name="description" content="Everything you always wanted to know, but there wasn't a website ... till now">
<meta name="keywords" content="">

<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico"  type="image/x-icon">

<!-- CSS-->
<!-- Google web fonts. You can get your own bundle at http://www.google.com/fonts. Don't forget to update the CSS accordingly!-->
<link href='https://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
<link rel="stylesheet" href="{{site.baseurl}}/js/flexslider/flexslider.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/basic-style.css">

<!-- end CSS-->

<!-- JS-->
<script src="{{site.baseurl}}/js/libs/modernizr-2.6.2.min.js"></script>

<!-- end JS-->

<script>
function printImg(url) {
  var win = window.open('');
  win.document.write('<img src="' + url + '" onload="window.print();window.close()" />');
  win.focus();
}
</script>

</head>

{% if page.background %}
<div id="background">
  <a href="{{site.baseurl}}/reviewers.html"><img src="/images/{{page.background}}" width="90px" height="45px"></a>
</div>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-195022370-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-195022370-1');
</script>
