    <header class="wrapper clearfix">

        <div id="banner">
        	<div id="logo"><a href="index.html"><img src="images/cornwallis_logo.png" width="50%" alt="logo"></a></div>
        </div>

        <!-- main navigation -->
        <nav id="topnav" role="navigation">
          <div class="menu-toggle">Menu</div>
          <ul class="srt-menu" id="menu-main-navigation">
              <li class="current"><a href="index.html">Home page</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="#">Our Community</a>
                  <ul>
                      <li>
                          <a href="membership.html">Membership</a>
                      </li>
                      <li class="current">
                          <a href="#">Calendar</a>
                          <ul>
                              <li><a href="#">menu item 3.2.1</a></li>
                              <li><a href="#">menu item 3.2.2 with longer link name</a></li>
                              <li><a href="#">menu item 3.2.3</a></li>
                              <li><a href="#">menu item 3.2.4</a></li>
                              <li><a href="#">menu item 3.2.5</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Block Party</a></li>
                      <li><a href="#">Holiday Party</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#">About Us</a>
                  <ul>
                      <li><a href="aboutus.html#board">Board</a></li>
                      <li><a href="aboutus.html#documents">Documents</a></li>
                      <li><a href="aboutus.html#presidents">Presidents Message</a></li>
                  </ul>
              </li>
              <li>
                  <a href="links.html">Useful links</a>
              </li>
          </ul>
		</nav><!-- end main navigation -->

    </header><!-- end header -->
