---
topnav: community
---
<!DOCTYPE html>
{% include head.html %}
<body id="article">

<!-- header area -->
{% include header.html %}
<!-- end header -->

<section id="page-header" class="clearfix">
<!-- responsive FlexSlider image slideshow -->
<div class="wrapper">
 <h1>{{ page.banner }}</h1>
</div>

</section>


<!-- main content area -->
<!-- content area -->
	<section id="content" class="wide-content">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.baseurl }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}

		<div class="page-title">
          <h2>Posted on {{ page.date | date: "%B %d, %Y"}}</h2>
		  <h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
            {% if page.previous.url %}
                <a href="{{site.baseurl}}/{{ page.previous.url }}">Previous</a>
            {% endif %}
            {% if page.next.url %}
                <a href="{{site.baseurl}}/{{ page.next.url }}">Next</a>
            {% endif %}
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->

        <!-- ./wrap -->


</section><!-- #end content area -->


    <!-- sidebar -->
    {% if page.sidemenu %}
    <aside>
        <h2>{{page.sidemenu.title}}</h2>
            <nav id="secondary-navigation">
              <ul>
                {% assign li = '<li class="current">' %}
                {% for item in page.sidemenu.menuitems %}
                    {{li}}<a href="{{item.link}}">{{item.text}}</a></li>
                    {% assign li = "<li>" %}
                {% endfor %}
              </ul>
             </nav>
      </aside><!-- #end sidebar -->
    {% endif %}

  </div><!-- #end div #main .wrapper -->

{% include footer.html %}

</body>
</html>
