---
topnav: community
---
<!DOCTYPE html>
{% include head.html %}
<body id="article">

<!-- header area -->
{% include header.html %}
<!-- end header -->

<section id="page-header" class="clearfix">
<!-- responsive FlexSlider image slideshow -->
<div class="wrapper">
 <h1>{{ page.title }}</h1>
</div>

</section>


<!-- main content area -->
<!-- content area -->
<!-- sponsor: {{ post.sponsors }}, {{post.title}} -->
<!-- page sponsor: {{ page.sponsors }}, {{page.title}} -->

<section id="content" class="wide-content">
  <div class="row" style="padding:50px 50px;">
    <div class="grid_5">
 	  {% if page.image.feature %}
        {% if page.image.feature contains "https://" %}
          {% assign purl = page.image.feature %}
        {% else %}
          {% if page.image.feature contains "/" %}
            {% assign purl = page.image.feature %}
          {% else %}
            {% assign purl = "/images/"|append: page.image.feature %}
          {% endif %}
        {% endif %}
        <img src="{{site.baseurl}}{{ purl }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
	  {% endif %}
	<div class="page-title">
      <h2>Posted on {{ page.date | date: "%B %d, %Y"}}</h2>
  	</div>

     {{ content }}

     {% if page.previous.url %}
       <a href="{{ page.previous.url }}">Previous</a>
     {% endif %}
     {% if page.next.url %}
       <a href="{{ page.next.url }}">Next</a>
     {% endif %}
    </div> <!-- grid_x -->

    {% if page.sponsors == "bottom" %}
     <div class="grid_4" width="50%">
       {% include sponsors.html %}
     </div>
     {% endif %}
  </div> <!-- row -->


</section><!-- #end content area -->

<!-- sidebar -->
{% if page.sidemenu %}
<aside>
    <h2>{{page.sidemenu.title}}</h2>
        <nav id="secondary-navigation">
          <ul>
            {% assign li = '<li class="current">' %}
            {% for item in page.sidemenu.menuitems %}
                {{li}}<a href="{{item.link}}">{{item.text}}</a></li>
                {% assign li = "<li>" %}
            {% endfor %}
          </ul>
         </nav>
  </aside><!-- #end sidebar -->
{% endif %}

{% include footer.html %}

</body>
</html>
