<!DOCTYPE html>

{% include head.html %}
<body id="home">

<!-- header area -->
{% include header.html %}
<!-- end header -->

<section id="page-header" class="clearfix">
<!-- responsive FlexSlider image slideshow -->
<div class="wrapper">
	<h1>{{ page.banner }}</h1>
    </div>

</section>


<!-- main content area -->
<div class="wrapper" id="main">
  {% if page.image.feature %}
  <img src="images/{{page.image.feature}}"></img>
  {% endif %}
<!-- content area -->
<section id="content" >
    <div class="row">
      {{ content }}
    </div>
    {% if page.sponsors != "off" %}
    <div class="row">
      <div class="grid_5">
        {% include sponsors.html %}
      </div>
    </div>
    {% endif %}
   </div>
  <div
</section><!-- #end content area -->


    <!-- sidebar -->
    {% if page.sidemenu %}
    <aside>
        <h2>{{page.sidemenu.title}}</h2>
            <nav id="secondary-navigation">
              <ul>
                {% assign li = '<li class="current">' %}
                {% for item in page.sidemenu.menuitems %}
                    {{li}}<a href="{{item.link}}">{{item.text}}</a></li>
                    {% assign li = "<li>" %}
                {% endfor %}
              </ul>
             </nav>
      </aside><!-- #end sidebar -->
    {% endif %}

  </div><!-- #end div #main .wrapper -->

{% include footer.html %}

</body>
</html>
